body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body * {
    box-sizing: border-box;
    color: darkslategrey;
}



h1, h2, h3,p {
    margin: 0 0 0.75em 0;
}

figure,ul {
    padding: 0;
    margin: 0;
}
 
ul {
    list-style: none;

}

.features {
    background-color: rgb(241, 241, 241);
    margin: 30em 0;
    padding: 4em 0;

}

.features header {
    text-align: center ;
    /*background-color: blue; */
    padding: 2em 0;
}

.features header h2 {

    font-size: 1.5em;
    font-weight: normal;
    color: rgb(131, 131, 131);
}


.features .row img {
    width: 100%;
}


.container {
    width: 70%;
    /*background-color: rgb(207, 207, 207); */
    margin: 0 auto;

}

.features h3 {
    position: relative;
    padding: 0.5em 1.75em;
}

.features h3::after {
    content: "X";
    display: block;
    background-color: #fff;

    height: 3em;
    width: 3em;
    border-radius: 1.5em;
    position: absolute;
     
    right: -2.5em;
    bottom: -2.5em;
}

.features ul:first-child h3::after {
    
    right: -2.5em;

}

.features ul:last-child h3::after {
    
    left: -2.5em;

}

.features ul:first-child p {
    padding: 1em 0 1em 1em;
    line-height: 1.5em;
   

}

.features ul p {
    padding: 1em;
    line-height: 1.5em;
    border: 1px solid gray;
    border-right: 0;

    

    position: relative;

}

.features ul p ::after {
    content: "x";
    background-color: #E5E5E5;
    display: block;
    position: absolute;
    width: 100%;
    height: 1.5em;
    right: 0;
    transition: 1.5s;
}


.features ul li:hover p::after {
    width: 40%;

}


.features ul li:hover p {
    border-color: aqua;
}

.features .row {
    /*background-color: blueviolet; */
    padding: 2em 0;
}

.features .row > * {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    

}

.features .row  figure {
    padding: 0 5% ;
}

.features .row ul:first-child {
    padding-right: 0 5% 0 2.5%;
    text-align: right;
}


.features .row ul:last-child {
    padding: 0 2.5% 0 5%;
}

.features .row ul li{
    padding: 1.25em 1.25%;
}



@media  (max-width: 1500px) {
        .container {
            width: 85%;
        }
}

@media  (max-width: 1100px) {
    .features .row figure {
        display: none;
    }


    .features .row>ul {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }
}

@media  (max-width: 900px) {
    .features .row>ul {
        width: 100%;
        display: inline-block;
        vertical-align: top;

        padding: 1.5%!important;
        
    }
    .features .row ul:first-child {
        text-align: left;

    }
}

